<div class="jumbotron">
	<h2>ToDo List to complete the tasks that are necessary!</h2>
	<br>
	<h3>Use it to get things done.</h3>
	<br>
	<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-danger" %>
</div>