<div class="col col-md-6 col-md-offset-3">
	<div class="panel panel-info">
		
		<div class="panel-heading">
			<h1><%= @item.title %></h1>
		</div>

		<div class="panel-body">
			<p><%= @item.description %></p>
		</div>

	</div>
	
</div>


